
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-more:before { content: "\e618"; }
.icon-home-i:before { content: "\e602"; }
.icon-count:before { content: "\e632"; }
.icon-aid:before { content: "\e609"; }
.icon-law:before { content: "\e60a"; }
.icon-work:before { content: "\e604"; }
.icon-local:before { content: "\e60b"; }
.icon-help-info:before { content: "\e61c"; }
.icon-weibo:before { content: "\e60f"; }
.icon-download:before { content: "\e60c"; }
.icon-arrow-top:before { content: "\e621"; }
.icon-user-search:before { content: "\e60d"; }
.icon-agency:before { content: "\e61a"; }
.icon-guide:before { content: "\e605"; }
.icon-link:before { content: "\e60e"; }
.icon-home:before { content: "\e603"; }
.icon-microphone:before { content: "\e629"; }
.icon-files:before { content: "\e62c"; }
.icon-love:before { content: "\e610"; }
.icon-search:before { content: "\e601"; }
.icon-flag:before { content: "\e636"; }
.icon-arrow-right:before { content: "\e600"; }
.icon-pen:before { content: "\e62a"; }
.icon-identify:before { content: "\e611"; }
.icon-article:before { content: "\e606"; }
.icon-manage:before { content: "\e61e"; }
.icon-file:before { content: "\e607"; }
.icon-ask:before { content: "\e61d"; }
.icon-list:before { content: "\e612"; }
.icon-folder:before { content: "\e626"; }
.icon-anno:before { content: "\e614"; }
.icon-mail:before { content: "\e62b"; }
.icon-analysis:before { content: "\e619"; }
.icon-list-nav:before { content: "\e625"; }
.icon-chat:before { content: "\e608"; }
.icon-type-search:before { content: "\e617"; }
.icon-help:before { content: "\e613"; }
.icon-database:before { content: "\e620"; }
.icon-editor:before { content: "\e622"; }
.icon-advisory:before { content: "\e62e"; }
.icon-exam:before { content: "\e615"; }
.icon-critique:before { content: "\e61f"; }
.icon-individual:before { content: "\e61b"; }
.icon-service:before { content: "\e616"; }
.icon-success:before { content: "\e623"; }
.icon-window:before { content: "\e634"; }
.icon-booking:before { content: "\e631"; }
.icon-apply:before { content: "\e628"; }
.icon-approval:before { content: "\e62d"; }
.icon-org:before { content: "\e627"; }
.icon-survey:before { content: "\e62f"; }
.icon-feedback:before { content: "\e630"; }
.icon-permit:before { content: "\e624"; }
.icon-hotline:before { content: "\e635"; }
.icon-status:before { content: "\e633"; }
